.sprite32 {background-image: url(images/icons-32.png);background-repeat: no-repeat;margin:0;padding:0;outline:none;}
.sprite24 {background-image: url(images/icons-24.png);background-repeat: no-repeat;margin:0;padding:0;outline:none;}
.sprite16 {background-image: url(images/icons-16.png);background-repeat: no-repeat;margin:0;padding:0;outline:none;}
.sprite-vertical {display:block;margin:0 0 6px;}
.vertical {position:fixed;z-index:9999;}
.sprite-horizontal-32 {display:inline-block;margin:0 6px 6px;}
.sprite-horizontal-24 {display:inline-block;margin:0 4px 6px;}
.sprite-horizontal-16 {display:inline-block;margin:0 3px 6px;}
.lotusjeff_socialshare_navbar {padding-top: 3px;}
.sprite-blogger32 {width: 32px;height: 32px;background-position: -0px 0;} 
.sprite-delicious32 {width: 32px;height: 32px;background-position: -32px 0;}
.sprite-digg32 {width: 32px;height: 32px;background-position: -64px 0;}
.sprite-facebook32 {width: 32px;height: 32px;background-position: -96px 0;}
.sprite-googleplus32 {width: 32px;height: 32px;background-position: -128px 0;}
.sprite-linkedin32 {width: 32px;height: 32px;background-position: -160px 0;}
.sprite-myspace32 {width: 32px;height: 32px;background-position: -192px 0;}
.sprite-odk32 {width: 32px;height: 32px;background-position: -224px 0;}
.sprite-pinterest32 {width: 32px;height: 32px;background-position: -256px 0;}
.sprite-reddit32 {width: 32px;height: 32px;background-position: -288px 0;}
.sprite-stumbleupon32 {width: 32px;height: 32px;background-position: -320px 0;}
.sprite-tumbler32 {width: 32px;height: 32px;background-position: -352px 0;}
.sprite-twitter32 {width: 32px;height: 32px;background-position: -384px 0;}
.sprite-vk32 {width: 32px;height: 32px;background-position: -416px 0;}
.sprite-rss32 {width: 32px;height: 32px;background-position: -448px 0;}
.sprite-blogger24 {width: 24px;height: 24px;background-position: -0px 0;}
.sprite-delicious24 {width: 24px;height: 24px;background-position: -24px 0;}
.sprite-digg24 {width: 24px;height: 24px;background-position: -48px 0;}
.sprite-facebook24 {width: 24px;height: 24px;background-position: -72px 0;}
.sprite-googleplus24 {width: 24px;height: 24px;background-position: -96px 0;}
.sprite-linkedin24 {width: 24px;height: 24px;background-position: -120px 0;}
.sprite-myspace24 {width: 24px;height: 24px;background-position: -144px 0;}
.sprite-odk24 {width: 24px;height: 24px;background-position: -168px 0;}
.sprite-pinterest24 {width: 24px;height: 24px;background-position: -192px 0;}
.sprite-reddit24 {width: 24px;height: 24px;background-position: -216px 0;}
.sprite-stumbleupon24 {width: 24px;height: 24px;background-position: -240px 0;}
.sprite-tumbler24 {width: 24px;height: 24px;background-position: -264px 0;}
.sprite-twitter24 {width: 24px;height: 24px;background-position: -288px 0;}
.sprite-vk24 {width: 24px;height: 24px;background-position: -312px 0;}
.sprite-rss24 {width: 24px;height: 24px;background-position: -336px 0;}
.sprite-blogger16 {width: 16px;height: 16px;background-position: -0px 0;}
.sprite-delicious16 {width: 16px;height: 16px;background-position: -16px 0;}
.sprite-digg16 {width: 16px;height: 16px;background-position: -32px 0;}
.sprite-facebook16 {width: 16px;height: 16px;background-position: -48px 0;}
.sprite-googleplus16 {width: 16px;height: 16px;background-position: -64px 0;}
.sprite-linkedin16 {width: 16px;height: 16px;background-position: -80px 0;}
.sprite-myspace16 {width: 16px;height: 16px;background-position: -96px 0;}
.sprite-odk16 {width: 16px;height: 16px;background-position: -112px 0;}
.sprite-pinterest16 {width: 16px;height: 16px;background-position: -128px 0;}
.sprite-reddit16 {width: 16px;height: 16px;background-position: -144px 0;}
.sprite-stumbleupon16 {width: 16px;height: 16px;background-position: -160px 0;}
.sprite-tumbler16 {width: 16px;height: 16px;background-position: -176px 0;}
.sprite-twitter16 {width: 16px;height: 16px;background-position: -192px 0;}
.sprite-vk16 {width: 16px;height: 16px;background-position: -208px 0;}
.sprite-rss16 {width: 16px;height: 16px;background-position: -224px 0;}
@media screen and (max-width: 705px) {
    .lotusjeff_socialshare_hover { display: none; }
}