<!-- IF S_LOTUSJEFF_SOCIALSHARE_FACEBOOK -->
<meta property="og:locale" content="{L_LOTUSJEFF_SOCIALSHARE_OPENGRAPH_LOCALE}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{PAGE_TITLE}" />
<meta property="og:url" content="{U_CANONICAL}{LOTUSJEFF_SOCIALSHARE_URL}" />
<meta property="og:site_name" content="{SITENAME}" />
<meta property="og:description" content="{LOTUSJEFF_SOCIALSHARE_DESCRIPTION}" />
<meta property="og:image" content="{LOTUSJEFF_SOCIALSHARE_IMAGE}" />
<!-- ENDIF -->
<!-- IF S_LOTUSJEFF_SOCIALSHARE_TWITTER -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{LOTUSJEFF_SOCIALSHARE_TWITTER_SITE}" />
<meta name="twitter:domain" content="{BOARD_URL}" />
<meta name="twitter:url" content="{U_CANONICAL}{LOTUSJEFF_SOCIALSHARE_URL}" />
<meta name="twitter:title" content="{PAGE_TITLE}" />
<meta name="twitter:description" content="{LOTUSJEFF_SOCIALSHARE_DESCRIPTION}" />
<meta name="twitter:image" content="{LOTUSJEFF_SOCIALSHARE_IMAGE}" />
<!-- ENDIF -->
<!-- IF S_LOTUSJEFF_SOCIALSHARE_SOCIAL -->
{% INCLUDECSS '@lotusjeff_socialshare/../theme/lotusjeff_socialshare.css' %}
<!-- ENDIF -->